.box-slider{
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center;
  padding-top: 8%;
  padding-left: 5%;
}

.slider .slides li .caption {
  top: 5% !important; 
}

.box-text{
  display: block;
  
}

@media only screen and (max-width: 600px) {
  /* Slider */
}

